<!DOCTYPE html>
<html lang="en" ng-app="teamform-admin-app">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Team-Forming System</title>

  <script src="lib/jquery.min.js"></script>
  <script src="lib/bootstrap.min.js"></script>

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/business-casual.css" rel="stylesheet">

  <!-- Customized libraries shared by pages -->
  <script src="js/site.js"></script>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">


  >

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body>

  <div class="brand">Team-forming</div>
  <div class="address-bar">A real-time online team forming app for any event</div>



  <div class="container">
    <div class="row">
      <div class="box">
        <div class="col-lg-12">
          <h1 class="brand-name text-center">Administrative Page </h1>
          <h2 id="text_event_name" class= "text-center"></h2>

          <div id="admin_page_controller" ng-controller="AdminCtrl"><br>

            <div class="row">
              <div class="col-md-2 col-xs-2"></div>
              <div class="col-md-8 col-xs-8 text-left ">

                <strong>Minimum Team Size:</strong>
                <span class="badge">
                  {{param.minTeamSize}}</span>
                  <button><span class="glyphicon glyphicon-plus" ng-click="changeMinTeamSize(1);"></span></button>
                  <button><span class="glyphicon glyphicon-minus" ng-click="changeMinTeamSize(-1);"></span></button>
                  <br><br>

                  <strong>Maximum Team Size: </strong>
                  <span class="badge">
                    {{param.maxTeamSize}}</span>
                    <button><span class="glyphicon glyphicon-plus" ng-click="changeMaxTeamSize(1);"></span></button>
                    <button><span class="glyphicon glyphicon-minus" ng-click="changeMaxTeamSize(-1);"></span></button>
                    <br><br>

                    <button type="button" class="btn btn-primary" ng-click="saveFunc();" >Create/Modify</button>
                  </div>

                  <!-- <div class="col-md-2 col-xs-2"></div> -->
                </div>


                <hr>

                <div class="row">
                  <div class="col-md-6 col-xs-6 text-right" >

                    <h3>All teams:</h3>
                    <ul class="list-group" ng-repeat="t in team">
                      <li class="list-group-item list-group-item-info">

                        User ID: {{t.$id}}  <br>
                        Preferred team size: <span class="badge">{{t.size}}</span> <br>
                        Current team members: {{t.teamMembers}}

                      </li>

                    </ul>

                  </div>

                  <div class="col-md-6 col-xs-6 text-left">


                    <h3>All members:</h3>
                    <ul class="list-group" ng-repeat="m in member">

                      <li class="list-group-item list-group-item-info">ID = {{m.$id}} <br>
                        Name = {{m.name}} <br>
                        request to join the following teams: {{m.selection | json}}</li>
                      </ul>

                    </div>
                  </div>


                </div>



              </div>
            </div>
          </div>
        </div>


        <!-- /.container -->
        <footer>
          <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center">
                <p>Copyright &copy; Your Website 2014</p>
              </div>
            </div>
          </div>
        </footer>

        <!-- jQuery -->
        <script src="js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>

        <!-- Script to Activate the Carousel -->
        <script>
        $('.carousel').carousel({
          interval: 5000 //changes the speed
        })
        </script>

        <!-- Angular and Angular-route libraries (v1.5.7) -->
        <script src="lib/angular.min.js"></script>
        <script src="lib/angular-route.min.js"></script>

        <!-- Firebase (v3.0.3) and AngularFire (v2.0.0) (after angular library is loaded) -->
        <script src="lib/firebase.js"></script>
        <script src="lib/angularfire.min.js"></script>

        <script src="js/admin.js"></script>
      </body>
      </html>
