<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="teamform, team">
    <!-- The meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Teamform</title>

    <script src="lib/jquery.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <!-- Material Design Lite CDN -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.orange-indigo.min.css" />
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>

    <!-- Angular Material CDN -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- CSS files -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/business-casual.css" rel="stylesheet">

    <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">


    <!-- Customized libraries shared by pages -->
    <script src="js/site.js"></script>
</head>
<body>
    <div ng-app="indx-app" ng-controller="IndxCtlr">
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            
            <header>
              <div class="brand">Team-forming</div>
              <div class="address-bar">A real-time online team forming app for any event</div>
              <div class="container">
                <div class="row">
                  <div class="box">
                    <div class="col-lg-12 text-center">

                      <h2 class="brand-before">
                      <small>Welcome to</small>
                      </h2>
                      <h1 class="brand-name">Team-forming System</h1>
                      <hr class="tagline-divider">
                      <h2>
                      <small>By group:
                      <strong>Yam</strong>
                      </small>
                      </h2>
                      <md-button ng-click="login()" ng-if="!user" class="md-accent pull-left">Login with facebook</md-button>
                      <md-button ng-click="logout()" ng-if="user" class="md-accent pull-left">Logout</md-button>
                      <br>
                    </div>
                  </div>
                </div>
              </div>
            </header>


            <main>

            <div class="container">
            <div class="row">
            <div class="box">
            <div class="col-lg-12">
        <h2 class="text-center"> Teamform </h2>
        <p class ="text-center">A real-time online team forming app for any event </p>
        <div class="text-center">

          <input id="input_text" type="text" class="input-lg">
          <br>
          <em>Enter a name (e.g. COMP3111-L1, COMP3111-L2 or COMP3111H) to create/join an event</em>
          <br>
          <br>

          <div>
            <button id="btn_admin" type="button" class="btn btn-primary" >Administrator</button>
            <button id="btn_leader" type="button" class="btn btn-primary" >Team Leader</button>
            <button id="btn_member" type="button" class="btn btn-primary" >Member</button>
          </div>
        </div>
    </div>
    </div>
    </div>
    </div>
                    <!-- event list -->
                    <div id="event-list">
                        <md-list>
                            <md-list-item ng-repeat="(eventKey, eventValue) in events" ng-href="eventteam.html?event={{eventKey}}" class="secondary-button-padding">
                                <span>{{eventKey}}</span>
                                <md-button ng-click="joinEvent(eventKey)" ng-if="user" class="md-secondary">Join</md-button>
                                <md-button ng-href="admin.html?event={{eventKey}}" class="md-secondary">Edit</md-button>
                            </md-list-item>
                        </md-list>
                    </div>

                    <md-button ng-click="createEvent($event)" class="md-raised" aria-label="create event">Create Event</md-button>


<div class="container">
   <div class="row">
      <div class="box">
        <div class="col-lg-12">
          <hr class="tagline-divider">
          <h2 class="intro-text text-center">What is teamform?
          </h2>
          <hr class="tagline-divider">

          <h2>
            <small>A real-time online team forming.</small>
          </h2>

        <h2><small>The following roles are supported in teamform:</small></h2>
          <h3 class="text-center">Administrator</h3><br>
          <ul>
          <li>Be responsible for creating an event for team forming (e.g. COMP3111, COMP3111H, hackUST)</li>
          <li>Be able to set the minimum and maximum team size for the event (e.g. 5..7 team members in COMP3111 and 5..8 team members in COMP3111H)</li>
          </ul>

          <h3 class="text-center">Team</h3><br>
          <ul>
            <li>Be able to add and remove requests made by members</li>
            <li>Once a member joins the team, all his/her requests will be deleted</li>
          </ul>

          <h3 class="text-center">Member</h3><br>
    <ul>
          <li>Be able to request to join multiple teams</li>
    </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="box">
        <div class="col-sm-12">
          <hr class="tagline-divider">
          <h2 class="intro-text text-center">
            <stronge>Development Team</stronge>
          </h2>
          <hr class="tagline-divider">
        </div>

        <div class="col-sm-4 text-center">
          <img class="img-responsive" src="http://placehold.it/750x450" alt="">
          <h3>Chu Wai Yin
          </h3>
          <p>[ITSC email]</p>
        </div>

        <div class="col-sm-4 text-center">
          <img class="img-responsive" src="http://placehold.it/750x450" alt="">
          <h3>Li Wing Yee
          </h3>
          <p>[ITSC email]</p>
        </div>

        <div class="col-sm-4 text-center">
          <img class="img-responsive" src="http://placehold.it/750x450" alt="">
          <h3>Ng Wai Sum
          </h3>
          <p>[ITSC email]</p>
        </div>

        <div class="col-sm-4 text-center">
          <img class="img-responsive" src="http://placehold.it/750x450" alt="">
          <h3>Ng Wai Wah
          </h3>
          <p>[ITSC email]</p>
        </div>

        <div class="col-sm-4 text-center">
          <img class="img-responsive" src="http://placehold.it/750x450" alt="">
          <h3>Wong Chau Shing
          </h3>
          <p>[ITSC email]</p>
        </div>

        <div class="clearfix"></div>
      </div>
    </div>
</div>



                    <div class="container">
                        <!-- FOOTER -->
                        <hr>
                        <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <p>Copyright &copy; Your Website 2014</p>
        </div>
      </div>
    </div>
                        </footer>
                    </div>
                
            </main>
        </div>
    </div>


    <!-- JavaScript of this page -->

    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-route.min.js"></script>

    <script src="lib/firebase.js"></script>
    <script src="lib/angularfire.min.js"></script>

    <!-- UI Bootstrap CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap.min.js"></script>

    <!-- Angular Material CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.min.js"></script>

    <script src="js/main.js"></script>
</body>
</html>